---
import { config } from "../config";
---

<footer
  class="pt-12 pb-6 my-28 text-sm
         text-gray-500 dark:text-neutral-500
         border-t border-gray-200 dark:border-neutral-800"
>
  <div
    class="section-container flex flex-col items-center text-center
           sm:flex-row sm:justify-between sm:items-center sm:text-left gap-2"
  >
    <p>
      License:
      <a
        href={config.license.url}
        class="hover:text-sky-600"
        target="_blank"
        rel="noopener noreferrer"
      >
        {config.license.name}
      </a>
    </p>
    <p>
      {config.title} by
      <a
        href={config.authorUrl}
        class="hover:text-sky-600"
        target="_blank"
        rel="noopener noreferrer"
      >
        {config.author}
      </a>
    </p>
  </div>
</footer>
